
<style>
    #abouttext {
        margin-top:8%;
        font-size:15px;
    }
</style>


<div id="abouttext">
<pre>
    如你所见，这是个聊天室。
    前端是 HTML/CSS/ajax with jquery 的组合。
    后端则是 tornado 的应用。

    这个项目后端被重写了一次，
    之前用的是 web.py。

    我只能保证 Chrome 下的显示效果，
    希望你喜欢这件作品。

                         写于 2012.3.13日晚
                       修改于 2012.4.01日晚
                       重构于 2015.5.17日晚
                         时光易逝，我心如初
                        不要拦我，我只想静静<span style="color:#333">装逼</span>
</pre>
</div>
