<!doctype html>
<% import config %>
<html>
<head>
    <title>${config.TITLE}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="${ static('css/reset.css') }">
    <link rel="stylesheet" href="${ static('css/index.css') }">
    <link rel="stylesheet" href="${ static('css/login.css') }">
    <link rel="stylesheet" href="${ static('css/chat.css') }">
    <script src="${ static('js/main.js') }"></script>
    <script src="${ static('js/jquery.min.js') }"></script>
    <script src="${ static('js/jquery.tools.min.js') }"></script>
    <script src="${ static('js/sockjs-1.0.0.min.js') }"></script>
    <%block name="header"/>
</head>

<body>
    % for msg in get_messages():
        % if msg.tag == 'success':
            <div class="ui-green">
                ${msg.txt}
            </div>
        % elif msg.tag == 'error':
            <div class="ui-red">
                ${msg.txt}
            </div>
        % endif
    % endfor

    ${self.body()}
    <%block name="script"/>
</body>
</html>
