
<div class="scrollable vertical">
    <div class="items"> 
        <!-- messages here -->
    </div>
</div>

<div class="sendmsg">
    <textarea id="msgtext" style="width:87%;height:88%;"></textarea>
    <a id="sendbtn" onclick="sendclick();">发送</a>
</div>

<script type="text/javascript">
    $(document).ready(jqueryinit);

    function getmsg() {
        if (!recvOn) return;
        $.ajax({
                url:"/chat/msg",
                type:"GET",
                data:{'user':user},
                success:function(data){
                    if (!data) {
                        setTimeout(getmsg,1000);
                        return;
                    }
                    if (data['user']!=user)
                        addmsg(data['user'],data['msg'],data['time']);
                    setTimeout(getmsg,50);
                    scrollapi.end("slow");
                },
                error: function(req,sta,er){
                    setTimeout(getmsg,10000);
                },
            });
    }

    function showrecord() {
        if (typeof premsgs=='undefined') {
            setTimeout(showrecord,500);
            return;
        }
        if (premsgs) {
            var i;
            i = 0;
            for (i=0;i<premsgs.length;i++) {
                addmsg(premsgs[i][0],premsgs[i][1],premsgs[i][2]);
            }
            premsgs = 0;
            addmsg('系统消息','用户 '+user+' 进入房间');
            scrollapi.end("slow");
        }
    }

    function jqueryinit() {
        if (!user) {
        }
        $(".scrollable").scrollable({ vertical: true, mousewheel: true });
        scrollapi = $(".scrollable").data("scrollable");
        $('#msgtext').focus();
        $('#msgtext').keypress(function(event) {
            if (event.keyCode == 13) sendclick();
        });
        showrecord();
        getmsg();
    }

function addmsg(user,text,time) {
    var mydate = new Date();
    time = time || mydate.toLocaleTimeString();
    var item = $("<div class='msgitem'></div>");
    var img = $('<img src="{{static_url('image/icon_admin.png')}}"></img>');
    var commonTime = time;
    var div = $('<div style="display:none"><span class="time" style="font-weight:bold;">'+commonTime+'</span><br />'+user+" : "+text+"</div>");
    item.append(img);
    item.append(div);
    scrollapi.addItem(item);
    div.fadeTo("slow",1);
}

function sendclick() {
    var msg = $("#msgtext").attr("value");
    if (msg) {
        if (!user) {
            $("#user").click();
            return;
        }
        addmsg(user,msg);
        $.post("/chat/msg",{'user':user,'msg':msg},function(result){
                if (result=='+ERR 102') addmsg('系统','上一条消息发送失败');
            });
        $("#msgtext").attr("value","");
        scrollapi.end("slow");
    } else {
        statbartext('输入内容不能为空！','rgb(250,250,0)');
    }
}

</script>

