
<div class="scrollable vertical">
    <div class="items"> 
        <!-- messages here -->
    </div>
</div>

<div class="sendmsg">
    <a id="sendbtn" onclick="send_click();">发送</a>
    <div id="msg_text_box"><textarea id="msg_text"></textarea></div>
</div>

<script>
    function send_click() {
        var msg = $("#msg_text").attr("value");
        if (msg) {
            if (!uid) {
                $("#user").click();
            } else {
                conn.send(JSON.stringify([
                    ['say', msg],
                ]));
            }

            $("#msg_text").attr("value","");
        } else {
            set_statbar_text('输入内容不能为空！','rgb(250,250,0)');
        }
    }

    function add_msg(user, text, time) {
        var mydate = new Date();
        time = time || mydate.toLocaleTimeString();
        var item = $("<div class='msgitem'></div>");
        var img = $('<img src="${static('images/icon_admin.png')}"></img>');
        var commonTime = time;
        var user_txt = user[1] + ' [' + user[0] + ']';
        var div = $('<div style="display:none"><span class="time" style="font-weight:bold;">'+commonTime+'</span><br />'+user_txt+" : "+text+"</div>");
        item.append(img);
        item.append(div);
        scrollapi.addItem(item);
        div.fadeTo("slow",1);
        scrollapi.end("slow");
    }

    $(document).ready(function (){
        $(".scrollable").scrollable({ vertical: true, mousewheel: true });
        scrollapi = $(".scrollable").data("scrollable");
        $('#msg_text').focus();
        $('#msg_text').keypress(function(event) {
            if (event.keyCode == 13) send_click();
        });
    });
</script>
